theme = carbonfox

keybind = ctrl+shift+up=new_split:up
keybind = ctrl+shift+down=new_split:down
keybind = ctrl+shift+left=new_split:left
keybind = ctrl+shift+right=new_split:right

keybind = ctrl+alt+up=goto_split:top
keybind = ctrl+alt+down=goto_split:bottom
keybind = ctrl+alt+left=goto_split:left
keybind = ctrl+alt+right=goto_split:right
