theme = carbonfox

keybind = ctrl+alt+up=new_split:up
keybind = ctrl+alt+down=new_split:down
keybind = ctrl+alt+left=new_split:left
keybind = ctrl+alt+right=new_split:right

keybind = ctrl+shift+up=goto_split:top
keybind = ctrl+shift+down=goto_split:bottom
keybind = ctrl+shift+left=goto_split:left
keybind = ctrl+shift+right=goto_split:right

font-family = "MesloLGS NF"

shell-integration = zsh
command = /usr/bin/zsh
